.CheckoutHeader{
  padding-bottom: 4rem;
}

.checkout-item-box {
  display: flex;
  padding: 2.4rem;
  padding-bottom: 1.2rem;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  display: grid;
  width: 72rem;
  height: 36rem;
  border: 5px solid black;
  grid-template-rows: 1fr 8fr;
  gap: 0;
}

.checkout-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  grid-row: 1/1;
  grid-column: 1/-1;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 5px solid black;
}

.checkout-container-box {
  max-width: 72rem;
  max-height: 48rem;
  overflow: auto;
}

.checkout-item {
  display: grid;
  max-width: 72rem;
  max-height: 48rem;
  padding: 2.4rem 0;
  grid-template-columns: 1fr 2fr 1fr;
}

.checkout-book-image {
  max-width: 16rem;
  max-height: 16rem;
  object-fit: contain;

  justify-self: center;
  align-self: center;
}

.checkout-book-title {
  grid-column-start: 2;

  justify-self: start;
  align-self: end;
}

.checkout-item-description {
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.checkout-list-description {
  list-style: none;
}

.checkout-remove-item-div {
  justify-self: center;
  align-self: center;
}

.checkout-remove-item-btn {
  padding: 1.2rem;
}

.checkout-finish {
  display: flex;
}

.finish-checkout-bottom {
  display: flex;
  max-width: 9, 6rem;
  padding: 1.2rem 2.4rem;
  margin: 0 auto;
}
